{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Create Item</title>
{% endblock meta %}
{% include 'navbar.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center w-screen bg-black-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h1 class="mt-6 text-center text-black text-3xl font-extrabold">
        Add New Item Entry
      </h1>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-300">
      <form method="POST" class="space-y-6">
        {% csrf_token %}
        
        {% for field in form %}
          <div class="flex flex-col">
            <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-gray-700">
              {{ field.label }}
            </label>
            <div class="w-full">
            {{ field }}
            </div>
            {% if field.help_text %}
              <p class="mt-1 text-sm text-gray-500">{{ field.help_text }}</p>
              {% endif %}
              {% for error in field.errors %}
              <p class="mt-1 text-sm text-red-600">{{ field.error }}</p>
            {% endfor %}
          </div>
        {% endfor %}

        
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
            Add New Item
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
