{% extends 'base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<h5>Welcome! </h5>
<p>{{ user_name }}<p>

{% if not item_entries %}
<p>Belum ada item pada direktori!</p>
{% else %}
<table>
    <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    </tr>

    
    {% for item_entry in item_entries %}
    <tr>
    <td>{{item_entry.item_type}}</td>
    <td>{{item_entry.item_name}}</td>
    <td>{{item_entry.item_price}}</td>
    <td>{{item_entry.item_description}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item_entry' %}">
    <button>Add Item</button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
  </a>

{% endblock content %}
